@model ContactU
@{
    ViewData["Title"] = "Contact_US";
    // Layout = "~/Views/Shared/_Second_Layout.cshtml";
}
<style>

    .contact-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: #BCCCDC;
    }

    .form-container {
        width: 50%;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .input-field,
    .textarea-field {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .send-button {
        background-color: yellow;
        border: none;
        color: black;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .illustration {
        width: 40%;
    }

</style>
<!-- Contact Section -->
<section class="contact-section">
    <div class="illustration">
        <img src="~/master pictures/image_contact_us.jpg" alt="Working remotely - simple illustration" style="border-radius: 30px;width: 260px;height: 300px;margin-left: 50px;" asp-append-version="true">
    </div>
    <div class="form-container">
        <form class="contact-form" asp-action="SubmitContact">
            <div class="form-group">
                <label asp-for="FirstName" id="first-name-label">First Name</label>
                <input type="text" id="first-name" class="input-field" value="omar" asp-for="FirstName">
            </div>
            <div class="form-group">
                <label asp-for="LastName" id="last-name-label">Last Name</label>
                <input type="text" id="last-name" class="input-field" value="Abo jolban" asp-for="LastName">
            </div>
            <div class="form-group">
                <label asp-for="Email" id="email-label">Email</label>
                <input type="email" id="email" class="input-field" value="example@gmail.com" asp-for="Email">
            </div>
            <div class="form-group">
                <label asp-for="Message" id="message-label">Message</label>
                <textarea id="message" class="textarea-field" asp-for="Message"></textarea>
            </div>
            <button type="submit" class="send-button" id="send-button">Send</button>
        </form>
    </div>
</section>
