@model User;
@{
    ViewData["Title"] = "Rigster";
}
<style>

    .registration-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Ensure it takes full height of viewport */
        padding-top: 70px; /* Push it below the fixed header */
        background: url("https://stripesexb.com/wp-content/uploads/2023/07/service06.jpg");
    }

    /* no-repeat center center/cover */
    .registration-form {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .text-danger {
        color: red;
        font-size: 14px;
    }
    .create-account-btn {
        width: 100%;
        padding: 10px;
        background-color: #ff0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
    }

        .create-account-btn:hover {
            background-color: #e6e600;
        }

</style>
<div class="registration-container">
    <form class="registration-form" asp-action="Register" method="post">
        <div class="form-group">
            <input asp-for="FirstName" type="text" class="form-control" placeholder="First name" />
            <input asp-for="LastName" type="text" class="form-control" placeholder="Last name" />
        </div>
        <div class="form-group">
            <input asp-for="Email" type="email" class="form-control" placeholder="Email or phone number" />
        </div>
        <div class="form-group">
            <input asp-for="PasswordHash" type="password" class="form-control" placeholder="Password" />
        </div>
        <div class="form-group">
            <input for="RepeatPassword" type="password" class="form-control" placeholder="Repeat Password" />
        </div>
        <div class="form-group">
            <p>If you have an account <a asp-area="" asp-controller="Home" asp-action="Login">click here to login</a></p>
        </div>
        <div class="form-group">
            <button type="submit" class="create-account-btn">Create Account</button>
        </div>
    </form>
</div>