<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        /* Sidebar Styling */
        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #4e73df;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

            .sidebar a {
                display: block;
                color: black;
                padding: 16px;
                text-decoration: none;
            }

                .sidebar a.active {
                    background-color: #04AA6D;
                    color: white;
                }

                .sidebar a:hover:not(.active) {
                    background-color: #555;
                    color: white;
                }

        /* Page Content Styling */
        div.content {
            margin-left: 200px;
            padding: 1px 16px;
            height: auto;
        }
        </style>
</head>
<body>
    <!-- The sidebar -->
    <div class="sidebar">
        <a asp-controller="Employee" asp-action="Employee_Dashboard">Dashboard</a>
        <a asp-controller="Employee" asp-action="Assgined_Task">Assigned Tasks</a>
        <a asp-controller="Employee" asp-action="EmployeeProfile">Profile</a>
        <a asp-controller="Employee" asp-action="EmployeeEditProfile">Edit Profile</a>
        <a asp-controller="Employee" asp-action="EmployeeResetPassword">Reset Password</a>
        <a asp-controller="Employee" asp-action="WorkHistory">Work History</a>
        <a asp-controller="Employee" asp-action="Logout">Logout</a>
    </div>

    <!-- Page content -->
    <div class="content">
        @RenderBody()
    </div>

</body>
</html>
